/* Zona de Tags */

table, th, td {
    border: 5px solid greenyellow;
    }
body {
    background-color: grey;
    color:blueviolet;
}
a {
    color:cyan;
}

/* Zona de Clases */

.articulo{
    border: 4px solid rebeccapurple;
    background-color: black;
    text-align: center;
}
.imagen{
    width: 150px;
}
.contenidoArticulo{
    border: 2px solid white
}

/* Zona de Ids */

#tituloUno{
    color: cyan;
}

#tituloDos{
    color: darkmagenta
}

#tituloTres{
    color: cornflowerblue
}